<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>635115340594-k9c4qfbic0cqvovk0bh60v11g0r4ktl0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.635115340594-k9c4qfbic0cqvovk0bh60v11g0r4ktl0</string>
	<key>API_KEY</key>
	<string>AIzaSyC6Z24ES3cM0mXK0H8YzWtnfEOGosyqbqE</string>
	<key>GCM_SENDER_ID</key>
	<string>635115340594</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.conecats.greetings</string>
	<key>PROJECT_ID</key>
	<string>greetings-database</string>
	<key>STORAGE_BUCKET</key>
	<string>greetings-database.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:635115340594:ios:b2ae67b2f6768c05724d2b</string>
</dict>
</plist>